@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* background-color: rgba(17, 25, 40, 0.75); */
    @apply bg-slate-900 text-white;
  }

  ::-webkit-scrollbar {
    width: 0.4em;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(102, 102, 148);
    outline: 1px solid rgb(18, 18, 19);
  }

  .container {
    @apply w-screen h-screen px-1 py-5;
  }
  .borderBottom {
    border-bottom: 1px solid black;
  }
  .borderRight {
    border-right: 1px solid black;
  }
}

